.derecha{
    height: 300px;
    border-radius: 15px;
    transform: perspective(600px) rotateY(30deg) rotateX(0); /* Ajuste de perspectiva y ángulos */
    transform-origin: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Sombra para el efecto flotante */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.derecha:hover{
    transform: perspective(600px) rotateY(0deg) rotateX(0deg); /* Vuelve a la posición normal al pasar el ratón */
      box-shadow: 0 30px 60px rgba(0, 0, 0, 1); /* Aumenta la sombra para el efecto interactivo */
}
.izquierda {
    height: 300px;
    border-radius: 15px;
    transform: perspective(600px) rotateY(-30deg) rotateX(0); /* Ajuste de perspectiva y ángulos */
    transform-origin: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Sombra para el efecto flotante */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.izquierda:hover {
    transform: perspective(600px) rotateY(0deg) rotateX(0deg); /* Vuelve a la posición normal al pasar el ratón */
    box-shadow: 0 30px 60px rgba(0, 0, 0, 1); /* Aumenta la sombra para el efecto interactivo */
}
