body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  background: linear-gradient(90deg, #93e0da, #8dd3ec);
  overflow-x: hidden;
  color: #10536b;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #8dd3ec;
}

::-webkit-scrollbar-thumb {
  background: #ffffffa6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}